.container {
  width: 280px;
  color: #314d3e;
}
body{
  background-color: #F9F8FF;
}
.title{
  font-size: 15px;
  padding: 8px;
}
.flex-container{
  display: flex;
  justify-content: space-around;
}

.flex-child-top{
  margin-left: auto;
  order: 2;
}
.flex-child{
  flex:1;
  margin: 5px;
}
.total {
  font-size: 10px;
  padding: 8px;
  padding-top: 13px;
}

.textbox {
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
  height: 50%;
  overflow-y: auto;
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.8rem;
  padding: 10px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.bookmark-title {
  font-weight: 700;
  padding-left: 2px;
  width:60%;
}
.report-article-info{
  padding: 10px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  display: none;
}
.bookmark-controls img {
  margin: 0 4px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
  padding-left: 3px;
}

#totalBookmarks{
  flex: auto;
  text-align: right;
  padding-left: 3px;
  font-size: 10px;
  color:rgb(71, 71, 71);

}

/* CSS */
 .button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.25rem;
  padding: .55rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F9F8FF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D1D5DB; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b1b36; 
}
.search-container{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  width: 100%;
  max-width: 700px;
  background: #F9F8FF;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.8rem;
  padding:5px 5px;
}
.search-bar input{
  background: transparent;
  flex:1;
  border: 0;
  outline: none;
  padding: 5px 5px;
  font-size: 12px;
  color: #5e6260;
}

::placeholder{
  color:#c4c4c4 ;
}
.search-bar button img{
  width: 10px;
}

.search-bar button{
  border: 0;
  border-radius: 25px;
  width:25px;
  height: 25px;
  background: #4169E1;
  cursor: pointer;
}